<% layout('layout') -%>

    <div class="col-md-10 col-md-offset-1">
        <h1>Blogs:</h1>
        <hr>
        <% if(blog.length > 0) { %>
        <% for(i=0; i < blog.length; i++) { %>
            <div class="panel panel-default" style="box-shadow: 2px 4px 7px #b4b4b4;">
                <div class="panel-heading"><a href="/blog/<%= blog[i]._id %>" id="<%= blog[i]._id %>"><h3 style="margin-top: 5px;margin-bottom: 5px;font-weight: 700;"><%= blog[i].title %></h3></a></div>
                <div class="panel-body">
                    <%- blog[i].body %><span class="pull-right"> <%= blog[i].date.getDate() + ' ' + monthNames[blog[i].date.getMonth()] + ', ' + blog[i].date.getFullYear() %> </span>
                </div>
            </div>


            <% } %>
         <% }else{ %> 
        
        <p style="font-size: 50px;text-align: center;margin-top: 203px;color: #e0e0e0;">COMING SOON</p>
         <% } %>

    </div>
